html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #e3e3d9;
  background-image: linear-gradient(135deg, #e3e3d9 0%, #bce4eb 100%);
}

section {
  background: #ffffff;
}

.navigation {
  background: #478a05;
  border-radius: 8px;
  height: 50px;
  align-items: center;
  padding: 16x;
  display: flex;
  justify-content: space-around;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.main__heading {
  color: black;
}
.secondary-heading {
  color: #1460aa;
}
.a {
  color: #fefefe;
}
.next-heading {
  color: #db9d2a;
}

.header {
  background: #f5e6e6;
}
.main {
  max-width: 1000px;
  margin: 0 auto;
}
.footer {
  border: 40px;
  color: #050505;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.list {
  list-style: square;
}
.table {
  width: 100%;
}
