section, article{
    background: rgba(255,0,0,0.2);
    padding:  16px;
    margin: 0 0 16px;
  }
  
  .info {
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
  }
  
  .info div {
    background: rgba(255,0,0,0.2);
  }
  
  
  .info span {
    display: block;
    padding: 16px;
    font-weight: bold;
  }