body {
  background: white;
}

section {
  background: whitesmoke;
}
.navigation-top {
  border: 30px solid #ffff;
  border-radius: 500px;
  margin: 10px;
  padding: 10px;
  display: block;
}

.main__heading {
  color: black;
}
.secondary-heading {
  color: #1460aa;
}

.next-heading {
  color: #db9d2a;
}

.header {
  background: #f5e6e6;
}
.main {
  max-width: 1000px;
  margin: 0 auto;
}
.footer {
  border: 40px;
  color: #050505;
  max-width:1000px;
  margin: 0 auto;
  padding: 10px;

}
