body {
  background: white;
}

section {
  background: whitesmoke;
}
.navigation-top {
  border: 30px solid #ffff;
  border-radius: 500px;
  margin: 10px;
  padding: 10px;
  display: block;

}

.main-heading {
  color: black;
}
.secondary-heading {
  color: #1460aa;
}

.next-heading {
  color: rgb(117, 10, 51);
}

.header {
  background: #f5e6e6;
}
